<%= form_for [post, @comment] do |f| %>
	<div class="form-group">
		<%= f.text_area :body, placeholder: "Comment" %>
	</div>
	<%= f.hidden_field :post_id, :value => post.id %>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<div class="form-group">
	<%= f.submit %>
	</div>

	<%end%>