<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div rows="3">
    	<%= f.text_area :content, class: "form-control", placeholder: "Write your message" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <div class="form-group">
  	<%= f.file_field :picture, id: "exampleInputFile" %>
  </div>
<% end %>